@{
    ViewBag.Title = "Home Page";
}

@*top nav - START*@
<section class="top-nav">
    <div class="container ">
        <div class="row">
            <div class="col-sm-12 col-md my-auto py-2 text-light">
                <span><i class="fa-regular fa-envelope pe-2"></i>contact@exmple.com</span>
            </div>
            <div class="col my-auto py-2 text-light">
                <span><i class="fa-solid fa-mobile pe-2"></i>+1-92234511 2345</span>
            </div>
            <div class="col-md-5">
                <ul class="d-flex justify-content-md-end  my-auto py-2">
                    <li><i class="fa-brands fa-twitter "></i></li>
                    <li><i class="fa-brands fa-facebook "></i></li>
                    <li><i class="fa-brands fa-instagram "></i></li>
                    <li><i class="fa-brands fa-linkedin "></i></li>
                </ul>
            </div>
        </div>

    </div>
</section>
@*top nav - END*@
@*navbar - START*@
<section class="nab-bar  bg-primary">
    <div class="container">
        <div class="row">
            <div class="col px-0">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <div class="container">
                        <h1><a class="navbar-brand" href="#">Impact<span class="ex-color">.</span></a></h1>
                        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse " id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto  mb-2 mb-lg-0 ">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#about-section">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#services-section">Service</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Portfolio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#ourteam-section">Team</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#blog-section">Blog</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Dropdown
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" tabindex="-1">Contact</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</section>
@*navbar - END*@
@*slider - START*@
<section class=" bg_color-s ">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-7 pt-lg-5 ">
                <div class="pe-5">
                    <h1 class="fw-bolder pt-lg-4 text-light">Welcome to Impact</h1>
                    <span class="ex-color-texts">Vehicula habitant vivamus diam ipsum dictumst iaculis volutpat molestie sem. Vehicula leo.</span>
                </div>
                <div class="row pt-4">
                    <div class="col col-md-6 col-lg-5 px-md-3 my-auto"><div class="rounded-pill ex-color1 ex-border-colors border border-2 text-center py-2 shadow"><button class="btn text-light">Get Started</button></div></div>
                    <div class="col my-auto"><div class="py-3 fw-bold text-light "><span class=" p-2 ex-border-colors border border-2 rounded-circle "><i class="fa-solid fa-play-circle"></i></span> Watch Video </div></div>
                </div>
            </div>
            <div class="col d-md-block d-none">
                <img src="~/img/hero-img.svg" class="img-fluid" />
            </div>
        </div>
        <div class="row justify-content-evenly text-center">
            <div class="col-md-3 pt-3">
                <div class="bg-primary d-flex flex-column justify-content-center rounded-4 shadow boxs">
                    <div class="fs-1 ex-color-texts"><i class="fa-solid fa-tv"></i></div>
                    <div class="h3 fw-bold text-light pt-2 boxs-text">Lorem Ipsum</div>
                </div>
            </div>
            <div class="col-md-3 pt-3">
                <div class="bg-primary d-flex flex-column justify-content-center rounded-4 shadow boxs">
                    <div class="fs-1 ex-color-texts"><i class="fa-regular fa-gem"></i></div>
                    <div class="h3 fw-bold text-light pt-2 boxs-text">Lorem Ipsum</div>
                </div>
            </div>
            <div class="col-md-3 pt-3">
                <div class="bg-primary d-flex flex-column justify-content-center rounded-4 shadow boxs">
                    <div class="fs-1 ex-color-texts"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="h3 fw-bold text-light pt-2 boxs-text">Lorem Ipsum</div>
                </div>
            </div>
            <div class="col-md-3 pt-3">
                <div class="bg-primary d-flex flex-column justify-content-center rounded-4 shadow boxs">
                    <div class="fs-1 ex-color-texts"><i class="fa-regular fa-comment"></i></div>
                    <div class="h3 fw-bold text-light pt-2 boxs-text">Lorem Ipsum</div>
                </div>
            </div>
        </div>
    </div>
</section>
@*slider - END*@
@*about - START*@
<section class="about-us" id="about-section">
    <div class="container">
        <div class="row my-4">
            <div class="col-12 text-center">
                <h2 class="">About Us</h2><div class="bottom-hr-s my-4"></div>
                <span class="lead mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</span>
            </div>
            <div class="col-12">
                <div class="row my-5">
                    <div class="col-md-6">
                        <div class="p-4">
                            <h3>It is a long established fact that a reader text of the printing and typesetting.</h3>
                            <img src="~/img/about.jpg" class="img-fluid imgs-s" />
                            <p class="pt-2">
                                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. <br><br>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-4">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </p>
                            <ul>
                                <li><span class="pe-2"><i class="fa-solid fa-check"></i></span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</li>
                                <li><span class="pe-2"><i class="fa-solid fa-check"></i></span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</li>
                                <li><span class="pe-2"><i class="fa-solid fa-check"></i></span>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</li>
                            </ul>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            <img src="~/img/about-2.jpg" class="img-fluid imgs-s" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*about - END*@
@*logos - START*@
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-4 p-3"><img src="~/img/clients/client-1.png" class="img-fluid" /></div>
            <div class="col-md-2 col-4 p-3"><img src="~/img/clients/client-2.png" class="img-fluid" /></div>
            <div class="col-md-2 col-4 p-3"><img src="~/img/clients/client-3.png" class="img-fluid" /></div>
            <div class="col-md-2 col-4 p-3"><img src="~/img/clients/client-4.png" class="img-fluid" /></div>
            <div class="col-md-2 col-4 p-3"><img src="~/img/clients/client-5.png" class="img-fluid" /></div>
            <div class="col-md-2 col-4 p-3"><img src="~/img/clients/client-6.png" class="img-fluid" /></div>
        </div>
    </div>
</section>
@*logos - END*@
@*info - START*@
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/img/stats-img.svg" class="img-fluid" />
            </div>
            <div class="col">
                <div class="row border-bottom pb-3 mb-3">
                    <div class="col-2 text-center"><span class="fs-1 fw-bold">232</span></div>
                    <div class="col-10 my-auto"><span><b>Happy Clients</b> All the Lorem Ipsum generators on the Internet</span></div>
                </div>
                <div class="row border-bottom pb-3 mb-3">
                    <div class="col-2 text-center"><span class="fs-1 fw-bold">521</span></div>
                    <div class="col-10 my-auto"><span><b>Projects</b> All the Lorem Ipsum generators on the Internet</span></div>
                </div>
                <div class="row border-bottom pb-3 mb-3">
                    <div class="col-2 text-center"><span class="fs-1 fw-bold">423</span></div>
                    <div class="col-10 my-auto"><span><b>Hours of Sus</b> All the Lorem Ipsum generators on the Internet</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
@*info - END*@
@*action - START*@
<section class="">
    <div class="container imgs-s se-action-bg">
        <div class="row   my-5">
            <div class="col p-5">
                <div class="text-center my-5 text-light">
                    <span class="mb-3 shadow"><i class="fa fa-play-circle fs-1 bg-white rounded-circle text-black"></i></span>
                    <h4 class="fw-bold mb-3 text-light">Call To Action</h4>
                    <p class="mb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                    <a href="#" class="btn rounded-pill border border text-light px-5 py-2 ">Call To Action</a>
                </div>
            </div>
        </div>
    </div>
</section>
@*action - END*@
@*services - START*@
<section class="services-css" id="services-section">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h2 class="">Over Serivces</h2><div class="bottom-hr-s my-3"></div>
                <p class="lead mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
            </div>
            <div class="col-12 mt-3">
                <div class="row">
                    <div class="col-md-4 mt-4">
                        <div class="card border-0 shadow p-4">
                            <div class="card-body">
                                <span class="rounded-circle"><i class="fa fa-wave-square fs-2"></i></span>
                                <h4 class="card-title my-4">Nesciunt Mete</h4>
                                <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                <a href="#" class="card-link">Read More <i class="fa fa-arrow-right-long ps-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <div class="card border-0 shadow p-4">
                            <div class="card-body">
                                <span class="rounded-circle"><i class="fa fa-signal fs-2"></i></span>
                                <h4 class="card-title my-4">Eosle Commodi</h4>
                                <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                <a href="#" class="card-link">Read More <i class="fa fa-arrow-right-long ps-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <div class="card border-0 shadow p-4">
                            <div class="card-body">
                                <span class="rounded-circle"><i class="fa fa-tv fs-2"></i></span>
                                <h4 class="card-title my-4">Nesciunt</h4>
                                <p class="card-text minheigh">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                <a href="#" class="card-link">Read More <i class="fa fa-arrow-right-long ps-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mt-4">
                        <div class="card border-0 shadow p-4">
                            <div class="card-body">
                                <span class="rounded-circle"><i class="fa fa-wave-square fs-2"></i></span>
                                <h4 class="card-title my-4">Nesciunt</h4>
                                <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                <a href="#" class="card-link">Read More <i class="fa fa-arrow-right-long ps-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <div class="card border-0 shadow p-4">
                            <div class="card-body">
                                <span class="rounded-circle"><i class="fa fa-signal fs-2"></i></span>
                                <h4 class="card-title my-4">Eosle</h4>
                                <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                <a href="#" class="card-link">Read More <i class="fa fa-arrow-right-long ps-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">
                        <div class="card border-0 shadow p-4">
                            <div class="card-body">
                                <span class="rounded-circle"><i class="fa fa-tv fs-2"></i></span>
                                <h4 class="card-title my-4">Commodi</h4>
                                <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                                <a href="#" class="card-link">Read More <i class="fa fa-arrow-right-long ps-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*services - END*@
@*portfolio - START*@
<section id="protfoli-section">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h2 class="">Portfolio</h2><div class="bottom-hr-s my-3"></div>
                <span class="lead mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</span>
            </div>
            <div class="col-12">
                <div class="row my-3">
                    <div class="col">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link p-list active " aria-current="page" data-filter="all">All</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-list " data-filter="app">App</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-list" data-filter="product">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-list" data-filter="branding">Branding</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-list" data-filter="book">Book</a>
                        </ul>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-4 col-sm-6 itemBox " data-item="app">
                        <img src="~/img/portfolio/app-1.jpg" class="img-fluid myImg" />
                    </div>
                    <div class="col-md-4 col-sm-6 itemBox" data-item="app">
                        <img src="~/img/portfolio/app-2.jpg" class="img-fluid myImg" />
                    </div>
                    <div class="col-md-4 col-sm-6 itemBox" data-item="app">
                        <img src="~/img/portfolio/app-3.jpg" class="img-fluid myImg" />
                    </div>
                    <div class="col-md-4 col-sm-6 itemBox" data-item="book">
                        <img src="~/img/portfolio/books-1.jpg" class="img-fluid myImg" />
                    </div>
                    <div class="col-md-4  col-sm-6 itemBox" data-item="book">
                        <img src="~/img/portfolio/books-2.jpg" class="img-fluid myImg" />
                    </div>
                    <div class="col-md-4 col-sm-6 itemBox" data-item="book">
                        <img src="~/img/portfolio/books-3.jpg" class="img-fluid myImg" />
                    </div>
                    <div class="col-md-4  col-sm-6 itemBox" data-item="branding">
                        <img src="~/img/portfolio/branding-1.jpg" class="img-fluid myImg" />
                    </div>
                    <div class="col-md-4  col-sm-6 itemBox" data-item="branding">
                        <img src="~/img/portfolio/branding-2.jpg" class="img-fluid myImg" />
                    </div>
                    <div class="col-md-4  col-sm-6 itemBox" data-item="branding">
                        <img src="~/img/portfolio/branding-3.jpg" class="img-fluid myImg" />
                    </div>
                    <div class="col-md-4 c col-sm-6 itemBox" data-item="product">
                        <img src="~/img/portfolio/product-1.jpg" class="img-fluid myImg" />
                    </div>
                    <div class="col-md-4  col-sm-6 itemBox" data-item="product">
                        <img src="~/img/portfolio/product-2.jpg" class="img-fluid myImg" />
                    </div>
                    <div class="col-md-4 col-sm-6 itemBox" data-item="product">
                        <img src="~/img/portfolio/product-3.jpg" class="img-fluid myImg" />
                    </div>
                </div>
                <div class="row">
                    
                        <!-- The Modal -->
                        <div id="myModal" class="modal">

                            <!-- The Close Button -->
                            <span class="close">&times;</span>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img01">

                            <!-- Next/previous controls -->
                            <a class="prev" id="prevImg">&#10094;</a>
                            <a class="next" id="nextImg">&#10095;</a>
                        </div>
                   
                </div>
            </div>

        </div>
    </div>
</section>
@*portfolio - END*@
@*testimonial - START*@
<section class="testimonials">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h2 class="">Testimonial</h2><div class="bottom-hr-s my-3"></div>
            </div>
            <div class="col-12">
                <div class="owl-carousel">
                    <div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow">
                                    <div class="row card-body">
                                        <div class="col-6">
                                            <img src="~/img/testimonials/testimonials-2.jpg" class="img-fluid rounded-circle p-3" />
                                        </div>
                                        <div class="col-6 my-auto">
                                            <h5>Leo Goodman</h5>
                                            <p class="text-muted">Founder</p>
                                            <ul class="list-unstyled d-flex text-warning mb-0">
                                                <li><i class="fas fa-star "></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="text-muted lead">
                                                <i class="fas fa-quote-left pe-2 fs-4 text-dark"></i>
                                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                                suscipit laboriosam, nisi ut aliquid commodi.
                                                <i class="fas fa-quote-right pe-2 fs-4 text-dark"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow">
                                    <div class="row card-body">
                                        <div class="col-6">
                                            <img src="~/img/testimonials/testimonials-4.jpg" class="img-fluid rounded-circle p-3" />
                                        </div>
                                        <div class="col-6 my-auto">
                                            <h5>Matt Brandon</h5>
                                            <p class="text-muted">Freelancer</p>
                                            <ul class="list-unstyled d-flex text-warning mb-0">
                                                <li><i class="fas fa-star "></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="text-muted lead">
                                                <i class="fas fa-quote-left pe-2 fs-4 text-dark"></i>
                                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                                suscipit laboriosam, nisi ut aliquid commodi.
                                                <i class="fas fa-quote-right pe-2 fs-4 text-dark"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow">
                                    <div class="row card-body">
                                        <div class="col-6">
                                            <img src="~/img/testimonials/testimonials-5.jpg" class="img-fluid rounded-circle p-3" />
                                        </div>
                                        <div class="col-6 my-auto">
                                            <h5>John Larson</h5>
                                            <p class="text-muted">Enterpreneur</p>
                                            <ul class="list-unstyled d-flex text-warning mb-0">
                                                <li><i class="fas fa-star "></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="text-muted lead">
                                                <i class="fas fa-quote-left pe-2 fs-4 text-dark"></i>
                                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                                suscipit laboriosam, nisi ut aliquid commodi.
                                                <i class="fas fa-quote-right pe-2 fs-4 text-dark"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow">
                                    <div class="row card-body">
                                        <div class="col-6">
                                            <img src="~/img/testimonials/testimonials-2.jpg" class="img-fluid rounded-circle p-3" />
                                        </div>
                                        <div class="col-6 my-auto">
                                            <h5>Leo Goodman</h5>
                                            <p class="text-muted">Founder</p>
                                            <ul class="list-unstyled d-flex text-warning mb-0">
                                                <li><i class="fas fa-star "></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="text-muted lead">
                                                <i class="fas fa-quote-left pe-2 fs-4 text-dark"></i>
                                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                                suscipit laboriosam, nisi ut aliquid commodi.
                                                <i class="fas fa-quote-right pe-2 fs-4 text-dark"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow">
                                    <div class="row card-body">
                                        <div class="col-6">
                                            <img src="~/img/testimonials/testimonials-2.jpg" class="img-fluid rounded-circle p-3" />
                                        </div>
                                        <div class="col-6 my-auto">
                                            <h5>Leo Goodman</h5>
                                            <p class="text-muted">Founder</p>
                                            <ul class="list-unstyled d-flex text-warning mb-0">
                                                <li><i class="fas fa-star "></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li>
                                                    <i class="fas fa-star-half-alt"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="text-muted lead">
                                                <i class="fas fa-quote-left pe-2 fs-4 text-dark"></i>
                                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                                suscipit laboriosam, nisi ut aliquid commodi.
                                                <i class="fas fa-quote-right pe-2 fs-4 text-dark"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*testimonial - END*@
@*ourteam - START*@
<section class="ourteams" id="ourteam-section">
    <div class="container">
        <div class="row">
            <div class="col-12 my-3 text-center">
                <h2 class="">Our Team</h2><div class="bottom-hr-s my-3"></div>
                <span class="lead mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</span>

            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-lg-3 px-2 mt-2 ">
                        <div class="card text-center shadow border-0">
                            <img src="~/img/team/team-1.jpg" class="img-fluid" />
                            <h5 class="">Walter White</h5>
                            <p class="text-muted fst-italic">Web Development</p>
                            <div class="row px-3 pb-3 text-center">
                                <div class="col-3"><i class="fa-brands fa-twitter border rounded-circle p-2 text-muted fs-5"></i></div>
                                <div class="col-3"><i class="fa-brands fa-facebook border rounded-circle p-2 text-muted fs-5"></i></div>
                                <div class="col-3"><i class="fa-brands fa-instagram border rounded-circle p-2 text-muted fs-5"></i></div>
                                <div class="col-3"><i class="fa-brands fa-linkedin border rounded-circle p-2 text-muted fs-5"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 px-2 mt-2">
                        <div class="card text-center shadow border-0">
                            <img src="~/img/team/team-3.jpg" class="img-fluid" />
                            <h5 class="">William Anderson</h5>
                            <p class="text-muted fst-italic">Content</p>
                            <div class="row px-3 pb-3 text-center">
                                <div class="col-3"><i class="fa-brands fa-twitter border rounded-circle p-2 text-muted fs-5"></i></div>
                                <div class="col-3"><i class="fa-brands fa-facebook border rounded-circle p-2 text-muted fs-5"></i></div>
                                <div class="col-3"><i class="fa-brands fa-instagram border rounded-circle p-2 text-muted fs-5"></i></div>
                                <div class="col-3"><i class="fa-brands fa-linkedin border rounded-circle p-2 text-muted fs-5"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 px-2 mt-2">
                        <div class="card text-center shadow border-0">
                            <img src="~/img/team/team-2.jpg" class="img-fluid" />
                            <h5 class="">Sarah Jhinson</h5>
                            <p class="text-muted fst-italic">Marketing</p>
                            <div class="row px-3 pb-3 text-center">
                                <div class="col-3"><i class="fa-brands fa-twitter border rounded-circle p-2 text-muted fs-5"></i></div>
                                <div class="col-3"><i class="fa-brands fa-facebook border rounded-circle p-2 text-muted fs-5"></i></div>
                                <div class="col-3"><i class="fa-brands fa-instagram border rounded-circle p-2 text-muted fs-5"></i></div>
                                <div class="col-3"><i class="fa-brands fa-linkedin border rounded-circle p-2 text-muted fs-5"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 px-2 mt-2">
                        <div class="card text-center shadow border-0">
                            <img src="~/img/team/team-4.jpg" class="img-fluid" />
                            <h5 class="">Amanda Jepson</h5>
                            <p class="text-muted fst-italic">Accountant</p>
                            <div class="row px-3 pb-3 text-center">
                                <div class="col-3"><i class="fa-brands fa-twitter border rounded-circle p-2 text-muted fs-5"></i></div>
                                <div class="col-3"><i class="fa-brands fa-facebook border rounded-circle p-2 text-muted fs-5"></i></div>
                                <div class="col-3"><i class="fa-brands fa-instagram border rounded-circle p-2 text-muted fs-5"></i></div>
                                <div class="col-3"><i class="fa-brands fa-linkedin border rounded-circle p-2 text-muted fs-5"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*ourteam - END*@
@*pricing - START*@
<section class="pricings" id="pricing-section">
    <div class="container">
        <div class="row">
            <div class="col-12 my-5 text-center">
                <h2 class="">Pricing</h2><div class="bottom-hr-s my-3"></div>
                <span class="lead mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</span>

            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4 top-padding">
                        <div class="card pt-5 shadow">
                            <h4 class="text-center mb-3">Free Plan</h4>
                            <i class="fa-solid fa-gauge-simple text-center mb-3 fs-3"></i>
                            <ul class="">
                                <li><i class="fa-solid fa-check pe-3"></i><span>Nec Feugiat nisl Pretium</span></li>
                                <li><i class="fa-solid fa-check pe-3"></i><span>Nec Feugiat nisl Pretium</span></li>
                                <li><i class="fa-solid fa-xmark pe-3 text-muted"></i><span class="text-muted"><del>Nec Feugiat nisl Pretium</del></span></li>
                                <li><i class="fa-solid fa-xmark pe-3 text-muted"></i><span class="text-muted"><del>Nec Feugiat nisl Pretium</del></span></li>
                            </ul>
                            <div class=" text-center py-5">
                                <a href="#" class="card-link  border rounded-pill fs-5 text-decoration-none px-3 py-1">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 top-padding">
                        <div class="card pt-5">
                            <h4 class="text-center mb-3">Business Plan</h4>
                            <i class="fa-solid fa-gauge-simple text-center mb-3 fs-3"></i>
                            <ul class="">
                                <li><i class="fa-solid fa-check pe-3"></i><span>Nec Feugiat nisl Pretium</span></li>
                                <li><i class="fa-solid fa-check pe-3"></i><span>Nec Feugiat nisl Pretium</span></li>
                                <li><i class="fa-solid fa-xmark pe-3 text-muted"></i><span class="text-muted"><del>Nec Feugiat nisl Pretium</del></span></li>
                                <li><i class="fa-solid fa-xmark pe-3 text-muted"></i><span class="text-muted"><del>Nec Feugiat nisl Pretium</del></span></li>
                            </ul>
                            <div class=" text-center py-5">
                                <a href="#" class="card-link  border rounded-pill fs-5 text-decoration-none px-3 py-1">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 top-padding">
                        <div class="card pt-5 shadow">
                            <h4 class="text-center mb-3">Devloper Plan</h4>
                            <i class="fa-solid fa-gauge-simple text-center mb-3 fs-3"></i>
                            <ul class="">
                                <li><i class="fa-solid fa-check pe-3"></i><span>Nec Feugiat nisl Pretium</span></li>
                                <li><i class="fa-solid fa-check pe-3"></i><span>Nec Feugiat nisl Pretium</span></li>
                                <li><i class="fa-solid fa-xmark pe-3 text-muted"></i><span class="text-muted"><del>Nec Feugiat nisl Pretium</del></span></li>
                                <li><i class="fa-solid fa-xmark pe-3 text-muted"></i><span class="text-muted"><del>Nec Feugiat nisl Pretium</del></span></li>
                            </ul>
                            <div class=" text-center py-5">
                                <a href="#" class="card-link  border rounded-pill fs-5 text-decoration-none px-3 py-1">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*pricing - END*@
@*faq - START*@
<section>
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-3 px-5">
                <p class="fs-1 mb-0">Frequently Asked</p>
                <p class="fs-1 mb-0 "><b>Questions</b></p>
                <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-lg-9">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item card">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <b class="fs-5"><span class="pe-3">1.</span>Non consectetur a erat nam at lectus urna duis?</b>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <b class="fs-5"><span class="pe-3">1.</span>Non consectetur a erat nam at lectus urna duis?</b>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <b class="fs-5"><span class="pe-3">1.</span>Non consectetur a erat nam at lectus urna duis?</b>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*faq - END*@
@*blog - START*@
<section id="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-12 my-5 text-center">
                <h2 class="">Recent Blog Posts</h2><div class="bottom-hr-s my-3"></div>
                <span class="lead mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</span>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4 paddingt">
                        <div class="shadow imgs-s pb-4">
                            <img src="~/img/blog/blog-1.jpg" class="img-fluid imgs-top-radius" />
                            <h4 class="px-3">voluptas dignissimos volu</h4>

                            <div class="row mt-4">
                                <div class="col-3 text-end pe-0">
                                    <img src="~/img/blog/blog-author.jpg" class="img-fluid rounded-circle w-75" />
                                </div>
                                <div class="col-9 my-auto pt-1">
                                    <p class="fw-bold mb-0">Maria Deo</p>
                                    <p class="text-muted">Jan 1, 2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 paddingt">
                        <div class="shadow imgs-s pb-4">
                            <img src="~/img/blog/blog-2.jpg" class="img-fluid imgs-top-radius" />
                            <h4 class="px-3">consequatur autem nulla</h4>

                            <div class="row mt-4">
                                <div class="col-3 text-end pe-0">
                                    <img src="~/img/blog/blog-author-2.jpg" class="img-fluid rounded-circle w-75" />
                                </div>
                                <div class="col-9 my-auto pt-1">
                                    <p class="fw-bold mb-0">Allisa Mayer</p>
                                    <p class="text-muted">Jun 5, 2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 paddingt">
                        <div class="shadow imgs-s pb-4">
                            <img src="~/img/blog/blog-3.jpg" class="img-fluid imgs-top-radius" />
                            <h4 class="px-3">suscipit ea ut in quo quia et</h4>

                            <div class="row mt-4">
                                <div class="col-3 text-end pe-0">
                                    <img src="~/img/blog/blog-author-3.jpg" class="img-fluid rounded-circle w-75" />
                                </div>
                                <div class="col-9 my-auto pt-1">
                                    <p class="fw-bold mb-0">Mark Dower</p>
                                    <p class="text-muted">Jun 22, 2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*blog - END*@
@*contact - START*@
<section id="contactus">
    <div class="container">
        <div class="row">
            <div class="col-12 my-5 text-center">
                <h2 class="">Contact</h2><div class="bottom-hr-s my-3"></div>
                <span class="lead mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</span>
            </div>
            <div class="col-12 shadow">
                <div class="row">
                    <div class="col-md-5 col-lg-4 bg-primary">
                        <div class="row shadow rounded m-2 mt-4 p-4 pb-1">
                            <div class="col-2 px-0">
                                <i class="fa-solid fa-location-dot fs-5"></i>
                            </div>
                            <div class="col-10 pe-0 text-light">
                                <h4>Location:</h4>
                                <p class="mb-0">A108 Adam Street, New York, NY 535022</p>
                            </div>
                        </div>
                        <div class="row shadow rounded m-2 mt-4 p-4 pb-1">
                            <div class="col-2 px-0">
                                <i class="fa-solid fa-envelope fs-5 "></i>
                            </div>
                            <div class="col-10 pe-0 text-light">
                                <h4>Email:</h4>
                                <p class="mb-0">info@exmple.com</p>
                            </div>
                        </div>
                        <div class="row shadow rounded m-2 mt-4 p-4 pb-1">
                            <div class="col-2 px-0">
                                <i class="fa-solid fa-clock fs-5"></i>
                            </div>
                            <div class="col-10 pe-0 text-light">
                                <h4>Open Hours:</h4>
                                <p class="mb-0">Mon-Sat: 11AM - 23PM</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <form class="row g-3 m-4" id="contactusfoam">
                            <p class="d-none" id="reponses"> Your Form Submit Wait for Answer </p>
                            <div class="col-md-6">
                                <input type="text" class="form-control rounded-0" id="inputEmail4" placeholder="Your Name">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Name is Required
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control rounded-0" id="inputPassword4" placeholder="Your Email">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Email is Required
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control rounded-0" id="inputAddress" placeholder="Subject">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Subject is Required
                                </div>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-12 mt-5 text-center">
                                <button type="submit" class="btn rounded-pill bg-primary py-2 px-5 text-light">Sent Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*contact - END*@
@*footer - START*@
<section class=" footer-section bg-primary">
    <div class="container text-light">
        <div class="row mt-5 pt-5">
            <div class="col-md-6 col-lg-5">
                <h1>Impact</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                <div class="pt-3">
                    <span><i class="fa-brands fa-twitter border rounded-circle p-2 fs-5"></i></span>
                    <span><i class="fa-brands fa-facebook border rounded-circle p-2 fs-5"></i></span>
                    <span><i class="fa-brands fa-instagram border rounded-circle p-2 fs-5"></i></span>
                    <span><i class="fa-brands fa-linkedin border rounded-circle p-2 fs-5"></i></span>
                </div>
            </div>
            <div class="col">
                <h5>Useful Links</h5>
                <ul class="px-0 text-muted">
                    <li><a href="#" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">About us</a></li>
                    <li><a href="#" class="text-light">Service</a></li>
                    <li><a href="#" class="text-light">Terms of service</a></li>
                    <li><a href="#" class="text-light">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg">
                <h5>Our Services</h5>
                <ul class="px-0 text-muted">
                    <li><a href="#" class="text-light">Web Designing</a></li>
                    <li><a href="#" class="text-light">Web Development</a></li>
                    <li><a href="#" class="text-light">Project Managment</a></li>
                    <li><a href="#" class="text-light">Marketing</a></li>
                    <li><a href="#" class="text-light">Graphic Design</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Contact Us</h5>
                <p>A108 Adam Street, New York, NY 535022 United States</p>
                <div class="px-0">
                    <p><b>Phone:</b> +1 5589 55488 55</p>
                    <p><b>Email:</b> info@example.com</p>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col text-center pb-0">
                <p class="mb-0">&#169; Copyright <b>Impact</b>. All Rights Reserved</p>
                <p>Designed by BootstrapMade</p>
            </div>
        </div>
    </div>
</section>
@*footer - END*@

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //contact form js START
            let formid = document.getElementById('contactusfoam');
            let reponstext = document.getElementById('reponses');
            
            
            formid.addEventListener('submit', function (e) {
                e.preventDefault();
                var inputs = formid.getElementsByTagName("input");
                for (let i = 0; i < inputs.length; i++) {
                    if (inputs[i].value == "") {
                        inputs[i].classList.add("is-invalid");
                        inputs[i].classList.remove("is-valid");
                    } else {
                        inputs[i].classList.remove("is-invalid");
                        inputs[i].classList.add("is-valid");
                    }
                    if (inputs[0].value != "" && inputs[1].value != "" && inputs[2].value != "" ) {
                        reponstext.classList.remove('d-none');
                        inputs[i].classList.remove("is-invalid");
                        inputs[i].classList.remove("is-valid");
                        formid.reset();

                    }




                }

            })


            //contact form js End
            let links = document.querySelectorAll('.p-list');
            let picBoxs = document.querySelectorAll('.itemBox');
            for (let i = 0; i < links.length; i++) {
                links[i].addEventListener('click', function () {
                    for (let j = 0; j < links.length; j++) {
                        links[j].classList.remove('active');
                    }
                    this.classList.add('active');
                    let filerData = this.getAttribute('data-filter');
                    for (let k = 0; k < picBoxs.length; k++) {
                        picBoxs[k].classList.add('d-none');

                        if (picBoxs[k].getAttribute('data-item') == filerData || filerData == 'all') {
                            picBoxs[k].classList.remove('d-none');
                        }
                    }
                })
            }
            var modal = document.getElementById("myModal");
            var prImg = document.getElementById("prevImg");
            var nxImg = document.getElementById("nextImg");
            var img = document.querySelectorAll('.myImg');
            var modalImg = document.getElementById("img01");
            for (let m = 0; m < img.length; m++) {
                img[m].addEventListener('click', function () {
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    nxImg.addEventListener('click', function () {
                        if (m > img.length) {
                            nxImg.classList.add('disable');
                        } else {
                            m = m + 1;
                            modalImg.src = img[m].src;
                        }
                    })
                    prImg.addEventListener('click', function () {
                        if (m == 0) {
                            prImg.classList.add('disable');
                        } else {
                            m = m - 1;

                            modalImg.src = img[m].src;
                        }
                    })


                })
            }
            var span = document.getElementsByClassName("close")[0];

            span.onclick = function () {
                modal.style.display = "none";
            }
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,

                    },
                    600: {
                        items: 2,

                    },
                    1000: {
                        items: 3,

                    }
                }
            })
        });
        
    </script>
}



